@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

$border-radius: 0.4rem;
$margin-bottom: 1.5rem;
$color-initial: #fafbfc;
$color-primary: #555;
$color-primaryA: #606c76;
$color-secondary: #b5b5b5;
$color-tertiary: #efefef;
$color-quaternary: #000;
$color-star: #f8d64e;
$color-applause: #03a87c;
$color-shadow: rgba(85, 85, 85, 0.15);
$font-regular: 500;
$font-bold: 700;
$font-stack: "IBM PLex Mono", monospace;