/* @import "utilities/variables";

.text-danger {
  color: $color-danger;
}

.text-applause {
  color: $color-applause;
}

.success {
  color: $color-applause;
  background: $color-bg-notification;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: $color-danger;
  background: $color-bg-notification;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.mt-2 {
  margin-top: 2rem;
}

.section {
  padding: 5rem 0 5rem;
}

.menu-nav {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.menu-nav a {
  padding-right: 2rem;
}

 */